# Schema folder
./static/color_schema

# Idea files
/.idea

# Bluehost files
/bluehosthtacces

# HTML files in progress
book-reviews.html
REST_API_testing.html
seleniumPractice.html
.DS_Store
static/.DS_Store
static/img/.DS_Store
static/img/cert/.DS_Store
