@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

h2 {
    font-weight: bold;
    color: #fafafa
}

/*--------------------------------------------Home page*/
.personal-ino-header {
    margin: 4%;
    text-align: center;
    white-space: nowrap;
}

.portre {
    margin: 40px auto;
    background-image: url("../img/Istvan_Gercsak_Portre.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 380px;
    min-width: 380px;
    border-bottom-left-radius: 150px;
    border-top-right-radius: 150px;
}

.typewrite {
    color: #fafafa;
    font-size: 70px;
    text-align: center;
    margin: 30px;
    padding: 30px;
}

a:hover {
    cursor: pointer;
}

.top-page {
    background-color: #406e7b;
    color: #fafafa;
}

.middle-page {
    background: #4e7b32;
}

.certificate {
    padding-bottom: 20px;
    color: #fafafa;
    font-weight: bold;
}

.certificate a {
    color: #fafafa;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.certificate a:active, .certificate a:link, .certificate a:visited {
    text-decoration: none;
    color: black;
}

.certificate a:hover {
    color: #fafafa;
    transition: all 0.5s ease-in-out;
}

.six-years {
    padding-top: 65px;
    font-size: 62px;
    font-weight: bold;
}

.portfolio {
    background-color: #0f6674;
}

.web-dev-header {
    padding: 40px;
    text-align: center;
}

.separate-line {
    height: 70px;
    background: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 10px,
            #4e7b32 10px,
            #0f6674 20px
    ),
    linear-gradient(
            to bottom,
            #4e7b32,
            #0f6674
    );
    border: 0;
}

/*--------------------------------------------Portfolio page*/

.portfolio-container {
    color: #fafafa;
}

.portfolio-box {
    border: 2px black solid;
    border-radius: 10%;
    color: #fafafa;
}

.first-box {
    background: #1e7e34;
}

.second-box {
    background: #e0a800;
}

.third-box {
    background: #721c24;
}

.fourth-box {
    background: #b21f2d;
}

.project-description {
    font-size: 24px;
    text-align: justify;
}

/*--------------------------------------------Book reviews page*/

.filter-container {
    background-color: lavender;
}

.filter {
    margin: 0 auto;
}

.articles-section {
    background: lavender;
}

.align-middle {
    margin: 20px auto;
    text-align: center;
}

.articles img {
    width: 320px;
    height: 450px;
}

.articles p {
    font-size: 20px;
    padding: 5% 20px 0 20px;
}

#btnScrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 25px;
    background: #e62739;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    outline: none;
    cursor: pointer;
}

/* ----------------------------------------Contact Form */

.contact {
    background: #9fcdff;
}

.contact-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

.form-control {
    margin-bottom: 10px;
}

/*--------------------------------------------Links*/

a:visited, a:link, a:active {
    text-decoration: none;

}

/*--------------------------------------------Footer*/

footer {
    background-color: #4e555b;
    color: #fafafa;
}

.fa-linkedin:hover, .fa-github-square:hover, .fa-globe:hover, .fa-envelope-square:hover, .fa-book:hover {
    transition: all 0.5s ease-in-out;
    color: #721c24;
    cursor: pointer;
}

.fa-linkedin {
    color: #0077b5;
    transition: all 0.5s ease-in-out;
}

.fa-github-square {
    color: black;
    transition: all 0.5s ease-in-out;
}

.fa-globe {
    color: black;
    transition: all 0.5s ease-in-out;
}

.fa-envelope-square {
    color: #fafafa;
    transition: all 0.5s ease-in-out;
}

.fa-book {
    color: #856404;
    transition: all 0.5s ease-in-out;
}