@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.middle {
    background-color: #6c757d;
    color: #fafafa;
}

.personal-ino-header, .about-me-header {
    margin: 0;
    text-align: center;
    white-space: nowrap;
}

footer {
    background-color: #4e555b;
    color: #fafafa;
}

/* LINKS */
a:visited, a:link, a:active {
    text-decoration: none;

}

.fa-linkedin:hover, .fa-github-square:hover{
    transition: all 0.5s ease-in-out;
    color: #1c7430;
}

.fa-linkedin {
    color: #0077b5;
    transition: all 0.5s ease-in-out;
}

.fa-github-square {
    color: black;
    transition: all 0.5s ease-in-out;
}